__pycache__
*.png
*.exr
*.log
*.zip
assets/*
*.xml
!assets/car_road_template.xml
wip/
vid/
*.gif
*.mp4
*.sh
*.txt
*.rar
!requirements.txt
!assets/envmap_template.xml
*.hdr
.vscode
!assets/car_road_template-no_alpha.xml
!assets/car_segm_template.xml
!assets/car_depth_template.xml
*.npy